---
// src/pages/contact.astro
import ContactForm from '$components/functional/ContactForm.astro';
import ContactValue from '$components/ui/ContactValue.astro';
import contactsData from '$data/contacts.json';
import Layout from '$layouts/Layout.astro';

const contact = contactsData[0];
const address = `${contact.location.street}, ${contact.location.city}, ${contact.location.country}`;
---

<Layout title="Contact Us" description="Get in touch with us. We would love to hear from you.">
  <div class="bg-white dark:bg-zinc-950">
    <div class="mx-auto max-w-7xl px-4 py-16 sm:px-6 lg:px-8 lg:py-24">
      <div class="text-center">
        <h1 class="text-3xl font-extrabold text-zinc-900 sm:text-4xl dark:text-zinc-50">
          Contact Us
        </h1>
        <p class="mt-4 text-lg text-zinc-600 dark:text-zinc-400">
          We would love to hear from you. Please fill out the form below or reach out to us using
          the contact details.
        </p>
      </div>

      <div class="mt-12 grid grid-cols-1 gap-16 lg:grid-cols-2">
        <div class="flex flex-col gap-8">
          <h2 class="text-2xl font-bold text-zinc-900 dark:text-zinc-50">Our Contact Details</h2>
          <div class="space-y-4">
            <div
              class="flex flex-col gap-4 rounded-lg border border-zinc-200 bg-zinc-50 p-6 dark:border-zinc-800 dark:bg-zinc-900"
            >
              <h3 class="text-xl font-semibold text-zinc-900 dark:text-zinc-50">
                {contact.general.fullName[1]}
              </h3>
              {
                contact.general.email[1] && (
                  <ContactValue type="email" label="Email" value={contact.general.email[1]} />
                )
              }
              {
                contact.general.phone[1] && (
                  <ContactValue type="tel" label="Phone" value={contact.general.phone[1]} />
                )
              }
              {address && <ContactValue type="address" label="Address" value={address} />}
            </div>
          </div>
        </div>

        <div>
          <h2 class="text-2xl font-bold text-zinc-900 dark:text-zinc-50">Send us a message</h2>
          <ContactForm />
        </div>
      </div>
    </div>
  </div>
</Layout>
