---
// src/lib/layouts/BaseLayout.astro
import '$styles/global.css'
import Analytics from '$components/base/Analytics.astro'
import SEO from '$components/base/SEO.astro'
import Footer from '$components/layout/Footer.astro'
import Navbar from '$components/layout/Navbar.astro'
import { site } from '$data/site-content'
import { toLocale } from '$utils/i18n'

type Props = {
  /**
   * Meta description for SEO.
   */
  description?: string
  image?: string
  /**
   * The document title for SEO.
   */
  title?: string
}

const { title = site.name, description = site.description, image = '/social_preview_image.png' } = Astro.props

const currentLang = toLocale(Astro.currentLocale)
---

<!doctype html>
<html
  lang={currentLang}
  class={`scrollbar-thumb-${site.colors.secondaryHover} scrollbar-track-${site.colors.background} h-full scroll-smooth bg-${site.colors.background}`}
>
  <head>
    <SEO title={title} description={description.substring(0, 100)} image={image} />
    {import.meta.env.PROD && <Analytics type="text/partytown" />}
  </head>

  <body
    class={`relative h-full text-${site.colors.text} antialiased selection:bg-${site.colors.selectionBg} selection:text-${site.colors.text}`}
  >
    <Navbar />

    <slot />
    <Footer />
  </body>
</html>
